.image {
  width: 100%;
  height: auto;
  max-width: 1920px;
  margin-bottom: 80px;
  position: relative;
  img {
    width: inherit;
    height: 260px;
    object-fit: cover;
  }
  .image_introduce {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ed1c24;
    color: white;
    bottom: -30px;
    left: 0;
    z-index: 1;
    font-family: var(--fonts);
    h2 {
      padding: 15px 10px 0 10px;
    }
    p {
      padding: 15px;
    }
  }
  .line {
    background-color: #e9d69f;
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0;
    display: none !important;
  }
}
